<% provide :title, t(".user_all") %>
<h1><%= t ".user_all" %></h1>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>

<div class="container">
   <div class="row"> This is a story of git flow </div>
   <div class="row">Now modified</div>
</div>